@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --title-font:'Playfair Display', serif;
    --title-product-font:'Work Sans', sans-serif;
    --text-font:'Lora', serif;

    --black-color:#333333;
    --gray-color:#575757;
    --green-color:#529F0F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font:13px var(--text-font);
}

header, main, footer{
    background: white;
    margin: 0 5px;
}

h1,h2,h3,h4,h5{
    font-weight: 400;
}

h1{
    font-family: var(--title-font);
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 70px;
    font-size: 13px;
    font-family: var(--title-product-font);
    font-weight: 600;
}

.nav_items{
    display: none;
}

.nav_items a:hover{
    color: var(--green-color);
    transition: all 300ms;
}

.logo{
    height: 30px;
}


/*--------------section 1-------------------*/

.banner{
    background: url("../img/slider-2.jpg") center/cover;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1{
    font-size: 25px;
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
}

/*--------------section 2-------------------*/

.container_small{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount_products{
    flex-wrap: wrap;
}

.discount_products h2{
    color: var(--green-color);
    font-family: var(--text-font);
    font-size: 25px;
    text-shadow: 1px 1px 1px rgb(86, 248, 75);
}

.discount_products p{
    font-family: var(--title-product-font);
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: 500;
    letter-spacing: .5px;
}

.product_discount{
    width: 95%;
    max-width: 400px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.product_discount:hover .image_discount{
    transform: scale(1.1);
    transition:all ease-in-out 800ms;
}

.product_discount img{
    width: 100%;
}

.description_discount{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 20px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.43);
    backdrop-filter: blur(2px);
    padding: 5px;
    height: 100%;
    border-radius: 2px;
}

/*--------------section 3-------------------*/

.products{
    background: url("../img/bg-1.jpg") center/cover;
    text-align: center;
    padding: 50px 0;
}

.products h1, .products p, .newsletter h1{
    margin-bottom: 15px;
    width: 95%;
}

.container_products{
    width: 95%;
    margin: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(4, 100%);
    column-gap: 20px;
    justify-content: space-between;
}

.product_image img{
    width: 100%;
    border: 1px solid #57575713;
}

.product_image{
    position: relative;
}

.product{
    min-width: 95%;
    margin:0 auto;
    text-align: left;
    font-family: var(--title-product-font);
    color: var(--gray-color);
    font-weight: 500;
}

.add{
    display: none;
    transition: all 1s ease-out 1s;
}

.product:hover .add{
    display: block;
}

.product:hover .product_name{
    display: none;
}

.product_actions{
    bottom: 20px;
    right: 20px;
    color: black;
    position: absolute;
    display: none;
    transition: all 0.4s ease-out 0s;
}

.product:hover .product_actions{
    display: inline;
    animation: aparecer 600ms;
}

.product_actions i{
    background-color: #efefef;
    font-size: 16px;
    padding: 12px;
    transition: all ease 400ms;
}

@keyframes aparecer{
    0%{
        opacity: 0;
        transform: scale(0.8) translateY(10px);
    }
    100%{
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}

.product_actions i:hover{
    background-color: var(--green-color);
    color: white;
}

.product span{
    color: black;
}

.product_image .discount{
    background: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
}

/*--------------section 4-------------------*/


.sec_testi{
    flex-direction: column;
}

.sec_testi h3{
    width: 60%;
    text-align: center;
    margin: 20px 0;
}

.sec_testi p{
    font: 14px var(--title-product-font);
    margin: 5px 0;
    color: var(--gray-color);
}

.sec_testi img{
    height: 80px;
    width: 80px;
}

/*--------------section 5-------------------*/

/*--------------section 6-------------------*/
.newsletter{
    background: url("../img/bg-2.jpg") center/cover;
    flex-direction: column;
    text-align: center;
}

.newsletter input{
    height: 40px;
    margin-top: 20px;
}

form{
    position: relative;
    width: 95%;
    max-width: 400px;
}

.form_email{
    width: 100%;
    background: transparent;
    border: 2px solid #959595a7;
    padding-left: 10px;
}

.form_button{
    position: absolute;
    color: white;
    background-color: black;
    border: 2px solid black;
    padding: 0 20px;
    bottom: 0;
    right: 0;
}

/*--------------section 7-------------------*/

.latest_news h1{
    width: 168px;
    margin:0 auto 20px;
}

.news{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
    text-align: left;
    overflow: hidden;
}

.new img{
    width: 100%;
    margin-bottom: 15px;
}

.new span:first-of-type{
    color: var(--green-color);
    border-bottom: 1.8px solid var(--green-color);
    width: 54px;
    font-weight: bold;
}

.new span{
    border-bottom: 1.8px solid var(--gray-color);
    font-weight: 600;
    font-family: var(--title-product-font);
    font-size: 12px;
}

.new p, .new h3{
    margin: 15px 0;
}

.new span, .new p{
    color: var(--gray-color);
}

/*--------------section 8-------------------*/
.brands{
    width: 95%;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(5, 100%);
    overflow: hidden;
    margin: auto;
}

.brands img{
    margin: auto;
}

/*--------------Footer-------------------*/

footer{
    background: #F5F5F5;
}

.footer_container{
    display: grid;
    grid-template-columns:1fr;
    gap: 30px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.footer_made{
    background: #e6e6e6;
    padding: 15px 0;
}

.footer_made div{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.footer_made img{
    margin: 15px auto 0;
    max-width: 600px;
}

.footer_column{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer_column p{
    margin: 4px 0;
}

.footer_column a{
    margin: 5px 0;
}

@media (min-width:420px) {

    .container_products{
        grid-template-columns: repeat(4, 48%);
    }

    .news{
        width: 95%;
        grid-template-columns: repeat(3, 50%);
    }

    .brands{
        margin: auto;
        width: 95%;
        grid-template-columns: repeat(5, 34%);
    }
}

@media (min-width:500px) {
    .footer_container{
        grid-template-columns:1fr 1fr;
        gap: 30px;
        width: 90%;
        padding: 40px 0;
    }
}

@media (min-width:650px){
    header, main, footer{
        margin: 0 10px;
    }

    .container_products{
        width: 90%;
        grid-template-columns: repeat(4, 31%);
    }

    .new{
        max-width: 300px;
        margin: auto;
    }

    .news{
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media (min-width:800px){
    .container_products{
        width: 85%;
        grid-template-columns: repeat(4, 1fr);
    }

    .news{
        width: 85%;
    }

    .brands{
        width: 85%;
        grid-template-columns: repeat(5, 25%);
    }

    .footer_made div{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .footer_made img{
        margin: 0;
    }
}

@media (min-width:1024px) {
    
    body{
        font:14px var(--text-font);
    }
    
    header, main, footer{
        margin: 0 20px;
    }

    
    h1{
        font-size: 30px;
    }
    
    nav{
        height: 90px;
        font-size: 14px;
    }
    
    .nav_items{
        width: 35%;
        display: flex;
        justify-content: space-between;
    }
    
    .logo{
        position: absolute;
        height: 35px;
        left: calc(50% - 75px);
    }
    
    /*--------------section 1-------------------*/
    
    .banner{
        height: 80vh;
    }
    
    .banner h1{
        font-size: 40px;
        width: 40%;
    }
    
    /*--------------section 2-------------------*/
    
    .container_small{
        padding: 80px 0;
    }
    
    .discount_products h2{
        font-size: 30px;
    }
    
    .discount_products p{
        font-size: 12px;
    }
    
    .product_discount{
        width: 40%;
        margin: 0 20px;
    }
    
    /*--------------section 3-------------------*/
    
    .products{
        padding: 80px 0;
    }
    
    .container_products{
        width: 80%;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
    }
    
    .product{
        min-width: none;
        margin-top: 15px;
    }
    
    /*--------------section 7-------------------*/
    
    .news{
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
    

    /*--------------section 8-------------------*/
    .brands{
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
    
    /*--------------Footer-------------------*/
    
    .footer_container{
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
        padding: 40px 20px;
    }
    
    .footer_made div{
        width: 80%;
    }
    
    .footer_column p{
        margin: 4px 0;
    }
    
    .footer_column a{
        margin: 6px 0;
    }
}

@media (min-width:1400px) {
    header, main, footer{
        margin: 0 40px;
    }

    .product_discount{
        max-width: 600px;
    }
}